<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="title-bar">
                <a href="#" class="navbar-brand">Domain checker</a>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 60px">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">

                <div class="row">
                    <form class="form-inline" role="form" data-bind="submit: checkDomain">
                        <div class="form-group">
                            <input placeholder="Search for Domain" data-bind="value: domain" type="search" class="form-control">
                        </div>
                        <input class="btn btn-default" type="submit" value="Search">
                    </form>
                </div>

                <div class="row" data-bind="visible: loading" id="loading">
                    <h2>Loading...</h2>
                </div>
                <div class="row" data-bind="visible: noResults">
                    <h2>No results found</h2>
                </div>

                <!-- Results -->
                <div class="row" data-bind="visible: nameservers().length > 0" id="results">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <h2 class="text-center">Results for <span
                                    data-bind="text: domain"></span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Nameservers:</h4>
                            <ul data-bind="foreach: nameservers">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </div>
                        <div class="col-md-3" data-bind="visible: a().length > 0">
                            <h4>A records:</h4>
                            <ul data-bind="foreach: a">
                                <li>
                                    <col-md- style="font-weight: bold;" data-bind="text: subdomain"></col-md->: <ul data-bind="foreach: records"><li data-bind="text: $data"></li></ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6" data-bind="visible: mx().length > 0">
                            <!-- MX records tend to be a bit longer -->
                            <h4>MX records:</h4>
                            <ul data-bind="foreach: mx">
                                <li>
                                    <col-md- style="font-weight: bold;" data-bind="text: subdomain"></col-md-> Priority: <col-md- data-bind="text: records"></col-md->
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Whois results</h3>
                            <pre style="height:30em; overflow-y: scroll" data-bind="text: whois"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/knockout-2.2.0rc.js"></script>
    <script type="text/javascript">
        function domainResultModel(){
            var self = this;
        
            self.domain = ko.observable();
            self.a = ko.observableArray([]);
            self.mx = ko.observableArray([]);
            self.nameservers = ko.observableArray([]);
            self.whois = ko.observable();

            // Status
            self.loading = ko.observable(false);
            self.noResults = ko.computed(function () {
                return self.nameservers().length === 0 && self.domain() &&
                !self.loading();
            });

            self.checkDomain = function() {
                self.loading(true);
                $.get('/check/'+self.domain()
                ).done(function(result) {
                    self.loading(false);
                    self.a($.map(result.a, function(item){ return {subdomain: item[0], records:item[1]}}));
                    self.mx($.map(result.mx, function(item){ return {subdomain: item[0], records:item[1]}}));
                    self.nameservers(result.nameservers);
                    self.whois(result.whois);
                }).fail(function() {
                    self.loading(false);
                    self.a([]);
                    self.mx([]);
                    self.nameservers([]);
                    self.whois('');
                });
            } 
        }
        $(document).ready(function(){
            ko.applyBindings(new domainResultModel());
        });

    </script>
</body>
</html>

